* {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

#home {
  position: fixed;
  width: 50px;
}

#robot-image {
  padding-top: 50px;
  width: 125px;
}

h1 {
  text-align: center;
  font-size: 4em;
}

iframe {
  display: block;
  margin: 0 auto;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: pink;
  padding: 5px;
  width: 200px;
  /*height: 150px;*/
  margin-top: 30px;
  /*border: 2px dashed grey;*/
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

img {
  width: 200PX;
  display: block;
  margin: 0 auto;
}