* {
  font-family: "Lucida Console", Monaco, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#home {
  position: fixed;
  margin: 2vw;
  width: 12vw;
}

#shapes {
  padding: 7vh 0 2vh 0;
  width: 30vw;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  padding: 3vh 5vw 3vh 5vw;
}

h3 {
  text-align: center;
}

iframe {
  margin: 0 auto;
  min-width: 400px;
  width: 200px;
}

#copa-categories {
  width: 80vw;
}

img {
  width: 200PX;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0 20vw;
  }
  #home {
    width: 6vw;
  }

  #shapes {
    width: 10vw;
  }

  #copa-categories {
  width: 60vw;
  }
}

