* {
  font-family: "Lucida Console", Monaco, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#home {
  position: fixed;
  margin: 2vw;
  width: 12vw;
}

#tangram {
  padding: 7vh 0 2vh 0;
  width: 30vw;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  padding: 3vh 5vw 3vh 5vw;
}

h3 {
  text-align: center;
  padding: 0 5vw;
}

iframe {
  margin: 2vh auto;
  min-width: 400px;
  width: 200px;
  display: block;
}

img {
  width: 400PX;
  display: block;
  margin: 0 auto;
  padding: 0 2vw;
}

#tangram-C, #tangram-G {
  padding: 0 20vw;
}

#tangram-i {
  padding: 0 40vw;
}