* {
  font-family: "Lucida Console", Monaco, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#home {
  position: fixed;
  margin: 2vw;
  width: 15vw;
}

#tangram {
  padding: 7vh 0 2vh 0;
  width: 30vw;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  padding: 3vh 5vw 3vh 5vw;
}

h3 {
  text-align: center;
  padding: 0 5vw;
}

iframe {
  margin: 2vh auto;
  min-width: 400px;
  width: 200px;
  display: block;
}

img {
  width: 400PX;
  display: block;
  margin: 0 auto;
  padding: 0 2vw;
}

#tangram-C, #tangram-G {
  margin: 0 auto;
  width: 30vw;
}

#tangram-i {
  width: 15vw;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0 20vw;
  }
  #home {
    width: 8vw;
  }

  #tangram {
    width: 10vw;
  }

  #tangram-C, #tangram-G {
  width: 15vw;
  margin: 0 auto;
  }

  #tangram-i {
  width: 8vw;
  margin: 0 auto;
  }

}